

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
}


.logo{
    font-size: 30px;
    text-decoration: none;
    color:white;
    margin-left: 20px;
    font-weight: 600;
}
.logo span{
    color: #00abf0;
}

.header{
    position: fixed;
    width: 100%;
}
nav{
    margin-right: 20px;
    
}

.navbar a{
    
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: .3s;
    margin-left: 35px;
    

}

.navbar a:hover, .navbar a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.home-content{
    display: flex;
    margin-left:  100px;
    max-width: 600px;
    
}
.primerletra{
    color: #00abf0;}


.aboutme{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 150px;
}

.aboutme img{
    border-radius: 30%;
    border: #343a40 solid;
    margin-right: 200px;
}
#Sobre-mi{
    
    height: 100vh;
    
    
}
#Sobre-mi h1{
    display: flex;
    justify-content: center;
}

#Estudios{
    height: 100vh;
    
    
    
}
#Estudios h1{
    display: flex;
    justify-content: center;
}

#Habilidades{
    height: 100vh;
    
}
#Habilidades h1{
    display: flex;
    justify-content: center;
}

.habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.habilidades img{
    border-radius: 30%;
    border: #343a40 solid;
    margin-right: 100px;
}
#Contacto{
    height: 100vh;
   
    
}
#Contacto h1{
    display: flex;
    justify-content: center;
}


